
.search_container{
    width: 700px;
    display: flex;
    justify-content: center;
    margin: 150px auto 0;
    gap: 0 40px;
}

.search_container :nth-child(1){
    display: flex;
    width: 100%;
}

.search_container input{
    width: 100%;
    height: 40px;
    border-radius: 12px 0 0 12px;
    border: none;
    color: #D3CED8;
    background-color: rgb(233, 233, 233);
    background-color: #535068;
    outline: none;
    padding: 16px;
    font-size: 1.6rem;
}


.search_container .btn-busca{
    width: 80px;
    border: none;
    border-radius: 0 12px 12px 0;
    cursor: pointer;
    font-size: 16px;
    /* padding: 0 15px; */
    background-color: #F9D71D;
    background-color: #302F3D;
    background-color: #8502D1;
    color: #D3CED8;
}



.search_container .btn-todos{
    width: 80px;
    height: 100%;
    text-align: center;
    border: 1px solid #dfbf09;
    cursor: pointer;
    font-size: 18px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    background-color: #8502D1;
    background-color: #dfbf09;
    color: #fff;
    border-radius: 8px;
}

.search_container .btn-busca i{
   
}

#btn__criar{
    font-size: 1.6rem;
    color: black;
    cursor: pointer;
}

.contacts__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px 0;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contacts__card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3e3c4f;
    width: 700px;
    height: 120px;
    border-radius: 12px;
    padding: 0 30px;
    color: #D3CED8;
}

.photo-name{
    cursor: pointer;
    width: auto;
}

.contacts__card :nth-child(1){
    display: flex;
    align-items: center;
    gap: 0 30px;
}

.contacts__img{
    display: flex;
    justify-content: center;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    border: 1px solid aliceblue;
    padding: 20px;
}

.contacts__img img{
    background-color: aliceblue;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    
}
.contacts__data{
    display: flex;
    flex-direction: column;
    gap: 8px 0;
}

.contacts__data p{
    font-size: 2rem;
    /* color: #D3CED8; */
    color: #877dc0;
 
} 

.contacts__data span{
    font-size: 1.6rem;
}

.contacts__data div{
    display: flex;
    gap: 0 12px;
}

.contacts__options{
    display: flex;
<<<<<<< HEAD
=======
    gap: 10px;
>>>>>>> ecfb9bb4eb43a5ccb7d1bc02e985ed4715c89133
}


.contacts__options button{
    background-color: #302F3D;
    border: none;
    color: #D3CED8;
    font-size: 1.8rem;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    margin-left: .8em;
    padding: 10px;
}